@charset "utf-8";
/* CSS Document */
body{ margin:0px; padding:0px; font:12px/20px "宋体"; color:#494949; background-color:#ffffff;}
body ul,li,form,dl,dt,dd,h1,h2,h3{ margin:0px; padding:0px;}
body li{ list-style:none;}
body img{ border:0px;}
body font,h1,h2,h3{ font-size:12px;}

/*字体样式*/
.font8{ font-size:8px;}
.font11{ font-size:11px;}
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font20{ font-size:20px;}
.font24{ font-size:24px;}
.fontqixie{ font-style:italic;}
.fontfamilywei{ font-family:"微软雅黑";}
.fontfamily-aril{ font-family:Arial, Helvetica, sans-serif;}
.fontweight{ font-weight:900;}
.fontzimbig{ font-variant:small-caps;}
.font-under{ text-decoration:underline;}

/*定位与浮动*/
.fl{ float:left; margin-left:5px; display:inline;}
.fr{ float:right; display:inline;}
.clear{clear: both;}

/*空白行和空白宽*/
.lineheight5{ float:left; width:100%; height:5px; overflow:hidden; display:inline;}
.lineheight10{ float:left; width:100%; height:10px; overflow:hidden; display:inline;}
.lineheight20{ float:left; width:100%; height:20px; overflow:hidden; display:inline;}
.lineheight40{ float:left; width:100%; height:40px; overflow:hidden; display:inline;}

.w11{ width:11px;}
.w100{ width:100%;}


/*边距样式*/
.mr3{ margin-right:3px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr11{ margin-right:11px;}
.mr13{ margin-right:13px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mr35{ margin-right:35px;}

.ml5{ margin-left:5px;}
.ml8{ margin-left:8px;}
.ml9{ margin-left:9px;}
.ml10{ margin-left:10px;}
.ml13{ margin-left:13px;}
.ml14{ margin-left:14px;}
.ml15{ margin-left:15px;}
.ml18{ margin-left:18px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.ml30{ margin-left:30px;}
.ml41{ margin-left:41px;}
.ml70{ margin-left:70px;}
.ml90{margin-left: 90px;}

.mt2{ margin-top:2px;}
.mt3{ margin-top:3px;}
.mt4{ margin-top:4px;}
.mt5{ margin-top:5px;}
.mt8{ margin-top:8px;}
.mt10{ margin-top:10px;}
.mt13{ margin-top:13px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt33{ margin-top:33px;}
.mt40{ margin-top:40px;}
.mt45{ margin-top:45px;}

.pt5{ padding-top:5px;}

.pl5{ padding-left:5px;}
.pl10{ padding-left:10px;}
.pl39{ padding-left:39px;}
.pr5{ padding-right:5px;}
.pr10{ padding-right:10px;}

.pb10{ padding-bottom:10px;}


/*文字颜色与链接样式*/
.red{ color:#F00;}
a:link,a:visited{ color:#2f76be; text-decoration:underline;}
a:hover{ color:#2f76be; text-decoration:none;}
a:active,a:focus{ outline:none;}

a.bluelink:link,a.bluelink:visited{ color:#3a8cdf; text-decoration:none;}
a.bluelink:hover{ color:#494949; text-decoration:none;}
a.bluelink:active,a.bluelink:focus{ outline:none;}


.gray{ color:#8e8e8e;}
a.graylink:link,a.graylink:visited{ color:#8e8e8e; text-decoration:none;}
a.graylink:hover{ color:#ed8826; text-decoration:none;}
a.graylink:active,a.graylink:focus{ outline:none;}

.orange{ color:#ed8826;}
a.orangelink:link,a.orangelink:visited{ color:#ed8826; text-decoration:none;}
a.orangelink:hover{ color:#232323; text-decoration:none;}
a.orangelink:active,a.orangelink:focus{ outline:none;}



.white{ color:#FFF;}
a.whitelink:link,a.whitelink:visited{ color:#ffffff; text-decoration:none;}
a.whitelink:hover{ color:#cbeaff; text-decoration:underline;}
a.whitelink:active,a.whitelink:focus{ outline:none;}

a.whitelink-black:link,a.whitelink-black:visited{color:#ffffff; text-decoration:none;}
a.whitelink-black:hover{color:#000;}
a.whitelink-black:active,div.whitelink:focus{outline:none;}
div.whitelink-black:link,div.whitelink-black:visited{color:#ffffff; text-decoration:none;}
div.whitelink-black:hover{color:#000;}
div.whitelink-black:active,div.whitelink:focus{outline:none;}
.CantNothin_color {
	border:none;
	background:none;
	color:#F00;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	font-size:12px;
	width:180px;
	margin-right:5px;
}


/*分页样式*/



/*其他样式*/
.arrow{
	height:10px;width:10px;margin-left: 35px;margin-top:12px;
}
.right_cont{
	margin-left: 15px;margin-right: 15px;
	}
.pkp{margin-left: 15px;}
.now_location{margin-left:10px; font-family: inherit;font-size: 15px; font-weight: bold; line-height: 40px;}
.click-icon {
	float: right;
	width: 130px;
    height: 25px;
	line-height:25px;
	z-index: 1;
    margin-top: 6px;
    margin-right: 6px;
	text-align: center;
}
.add-file{
    margin: 0 auto;
    padding: 0;
    width: 150px;
}

/* new add */
.autocut {  
    width:500px;  
    overflow:hidden;  
    white-space:nowrap;  
    text-overflow:ellipsis;  
    -o-text-overflow:ellipsis;  
    -icab-text-overflow: ellipsis;  
    -khtml-text-overflow: ellipsis;  
    -moz-text-overflow: ellipsis;  
    -webkit-text-overflow: ellipsis;  
}
.red-type{
	display:none;
}
.red-type2{
	display:none;
}
.table-hover > tbody > tr:hover > td{
  background-color: #E5E5E5;
}
.table-input{
	border-collapse: separate;
	border-spacing: 100px;
}
.table-input td{
	border: 0px solid #ddd !important;  
}
.table-input tr{
	height: 40px;  
}
A.ajax_button {
	PADDING-BOTTOM: 3px;
	LINE-HEIGHT: 12px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	DISPLAY: inline;
	BACKGROUND: #47ADCB;
	COLOR: #ffe;
	TEXT-DECORATION: none;
	PADDING-TOP: 4px;
	BORDER-RADIUS: 4px;
}
A.ajax_button:hover {
	BACKGROUND: #e8dd8e;
}
A.ajax_button_f {
	PADDING-BOTTOM: 3px;
	LINE-HEIGHT: 12px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	DISPLAY: inline;
	BACKGROUND: #47ADCB;
	COLOR: #ffe;
	TEXT-DECORATION: none;
	PADDING-TOP: 4px;
	BORDER-RADIUS: 4px;
}
A.ajax_button_f_click {
	PADDING-BOTTOM: 3px;
	LINE-HEIGHT: 12px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	DISPLAY: inline;
	BACKGROUND: #e8dd8e;
	COLOR: #ffe;
	TEXT-DECORATION: none;
	PADDING-TOP: 4px;
	BORDER-RADIUS: 4px;
}
A.ajax_button_f:hover {
	BACKGROUND: #e8dd8e;
}

select{height:27px;}
