<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gtercn.carhome.dealer.cms.dao.shopping.ExpertMapper">
	<!-- 查询所有信息 -->
	<select id="queryAllData" resultType="com.gtercn.carhome.dealer.cms.entity.shopping.Expert" parameterType="java.util.Map">
		select id, 
		(select nickname from tc_user u where u.user_id=e.user_id) as user_id,
		(select real_name from tc_user u where u.user_id=e.user_id) as expert_name,
		(select title from inn_goods_category t where t.id=e.top_title) as category_title,
		city_code, expert_discription_short,
		expert_portrait_url,expert_wechat_number,
		expert_experience, expert_tel_number, motto, expert_display_pic_list,
		expert_discription_detail, delete_flag, insert_time, update_time
		from tb_expert_top e
		<where>
			is_inn=1 and e.city_code in(select id from tb_city C where C.city_code=#{cityCode,jdbcType=VARCHAR})
			<if test="expertName!=null and expertName!=''">
				and e.expert_name like '%${expertName}%'
			</if>
			<if test="category!=null and category!=''">
				and e.top_title=#{category,jdbcType=VARCHAR}
			</if>
		</where>
		order by e.insert_time desc limit #{beginResult},#{pageSize}
	</select>

	<!-- 查询所有数据数 -->
	<select id="getTotalCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(1) from tb_expert_top
		<where>
			is_inn=1 
			<if test="expertName!=null and expertName!=''">
				and expert_name like '%${expertName}%'
			</if>
			<if test="category!=null and category!=''">
				and top_title=#{category,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultType="com.gtercn.carhome.dealer.cms.entity.shopping.Expert" parameterType="java.lang.String">
		select * from tb_expert_top where id = #{id,jdbcType=VARCHAR}
	</select>
	
  <!-- 批量删除,collection:参数是数组,为array,集合,为list -->
  <delete id="deleteBatch" parameterType="java.lang.String" >
  	 delete from tb_expert_top where id
	    <foreach collection="Array" index="index" item="id" open="(" separator="," close=")">  
	      #{id,jdbcType=VARCHAR} 
	    </foreach>
  </delete>
	<insert id="insertShopExpert" parameterType="com.gtercn.carhome.dealer.cms.entity.shopping.Expert">
		insert into tb_expert_top (id,
		user_id, top_title,city_code,
		expert_name, expert_discription_short,
		expert_portrait_url,
		expert_wechat_number, expert_experience,
		expert_tel_number,
		motto, expert_display_pic_list,
		expert_discription_detail,is_inn,
		delete_flag, insert_time, update_time
		)
		values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
		#{topTitle,jdbcType=VARCHAR},
		#{cityCode,jdbcType=VARCHAR},
		#{expertName,jdbcType=VARCHAR},
		#{expertDiscriptionShort,jdbcType=VARCHAR},
		#{expertPortraitUrl,jdbcType=VARCHAR},
		#{expertWechatNumber,jdbcType=VARCHAR},
		#{expertExperience,jdbcType=VARCHAR},
		#{expertTelNumber,jdbcType=VARCHAR},
		#{motto,jdbcType=VARCHAR},
		#{expertDisplayPicList,jdbcType=VARCHAR},
		#{expertDiscriptionDetail,jdbcType=VARCHAR},
		1,0, now(),now()
		)
  </insert>
	<update id="updateShopExpert" parameterType="com.gtercn.carhome.dealer.cms.entity.shopping.Expert">
		update tb_expert_top
			set 
			top_title = #{topTitle,jdbcType=VARCHAR},
			expert_discription_short = #{expertDiscriptionShort,jdbcType=VARCHAR},
			expert_portrait_url = #{expertPortraitUrl,jdbcType=VARCHAR},
			expert_wechat_number = #{expertWechatNumber,jdbcType=VARCHAR},
			expert_experience = #{expertExperience,jdbcType=VARCHAR},
			motto = #{motto,jdbcType=VARCHAR},
			expert_display_pic_list = #{expertDisplayPicList,jdbcType=VARCHAR},
			expert_discription_detail = #{expertDiscriptionDetail,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<!-- 通过用户id,达人id获取达人 -->
	<select id="getExcludeExpert" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1) from tb_expert_top
		where user_id = #{userId,jdbcType=VARCHAR}
		and is_inn=0 
		<if test="expertId!=null and expertId!=''">
  			and id != #{expertId}
  		</if>
	</select>
</mapper>