<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gtercn.carhome.dealer.cms.dao.shopping.GoodsBrandMapper" >
	<select id="selectByPrimaryKey" resultType="com.gtercn.carhome.dealer.cms.entity.shopping.GoodsBrand" parameterType="java.lang.String">
		select * from inn_goods_brand where id = #{id}
	</select>
	
	<select id="queryDataByCategory" resultType="com.gtercn.carhome.dealer.cms.entity.shopping.GoodsBrand" parameterType="java.lang.String">
		select * from inn_goods_brand where category_id = #{categoryId}
	</select>
	
</mapper>