<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gtercn.carhome.dealer.cms.dao.shopping.LogisticsMapper" >
  <resultMap id="BaseResultMap" type="com.gtercn.carhome.dealer.cms.entity.shopping.Logistics" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="VARCHAR"/>
    <result column="logistics_no" property="logisticsNo" jdbcType="VARCHAR" />
    <result column="logistics_type" property="logisticsType" jdbcType="INTEGER" />
    <result column="logistics_name" property="logisticsName" jdbcType="VARCHAR"/>
    <result column="logistics_fee" property="logisticsFee" jdbcType="VARCHAR" />
    <result column="delivery_amount" property="deliveryAmount" jdbcType="VARCHAR" />
    <result column="logistics_status" property="logisticsStatus" jdbcType="INTEGER"/>
    <result column="settlement_status" property="settlementStatus" jdbcType="INTEGER"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <collection property="details" column="id" javaType="ArrayList" 
                ofType="com.gtercn.carhome.cms.entity.shopping.LogisticsDetail" select="selectDetailById"/>
  </resultMap>
  
  <select id="selectDetailById" resultType="com.gtercn.carhome.dealer.cms.entity.shopping.LogisticsDetail" parameterType="java.lang.String" >
    select * from inn_logistics_detail where logistics_id = #{id} order by create_time
  </select>
  
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from inn_logistics
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectLogisticsByOrder" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from inn_logistics where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAddressByPrimaryKey" resultType="com.gtercn.carhome.dealer.cms.entity.shopping.Address" 
		parameterType="java.lang.String">
		select * from inn_address where id=#{addressId,jdbcType=VARCHAR}
  </select>
  
  <insert id="add" parameterType="com.gtercn.carhome.dealer.cms.entity.shopping.Logistics">
  	insert into inn_logistics
  		(id,order_id,realname,telphone,address,postal_code,logistics_no,logistics_type,
  		 logistics_name,logistics_fee,delivery_amount,logistics_status,settlement_status,create_time)
  	values
  	(
  		#{id,jdbcType=VARCHAR},#{orderId,jdbcType=VARCHAR},#{realname,jdbcType=VARCHAR},
  		#{telphone,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{postalCode,jdbcType=VARCHAR},
  		#{logisticsNo,jdbcType=VARCHAR},0,#{logisticsName,jdbcType=VARCHAR},
  		#{logisticsFee,jdbcType=VARCHAR},#{deliveryAmount,jdbcType=VARCHAR},
  		0,0,now()
  	)
  </insert>
  <insert id="addDetail" parameterType="com.gtercn.carhome.dealer.cms.entity.shopping.LogisticsDetail">
	insert into inn_logistics_detail(id,logistics_id,description,create_time)
	values(
		#{id,jdbcType=VARCHAR},#{logisticsId,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},now()
	)
  </insert>
</mapper>