<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gtercn.carhome.dealer.cms.dao.ExpertTopMapper">
	<sql id="Base_Column_List">
		id, user_id, top_title, city_code,
		expert_name,expert_discription_short,
		expert_portrait_url,
		expert_wechat_number,
		expert_experience, expert_tel_number, motto, expert_display_pic_list,
		expert_discription_detail, delete_flag, insert_time, update_time
  </sql>
  
  	<!-- 查询所有达人,文章等用到 -->
	<select id="queryAllExpert" resultType="com.gtercn.carhome.dealer.cms.entity.ExpertTop">
		select id,user_id,expert_name from tb_expert_top where is_inn=0 delete_flag=0 and city_code=#{cityCode}
	</select>
	
	<!-- 查询所有信息 -->
	<select id="queryAllData" resultType="com.gtercn.carhome.dealer.cms.entity.ExpertTop"
		parameterType="java.util.Map">
		select id, 
		(select nickname from tc_user u where is_inn=0 u.user_id=e.user_id) as user_id,
		(select real_name from tc_user u where u.user_id=e.user_id) as expert_name,
		(select type_value from tb_expert_type t where t.id=e.top_title) as top_title,
		city_code, expert_discription_short,
		expert_portrait_url,expert_wechat_number,
		expert_experience, expert_tel_number, motto, expert_display_pic_list,
		expert_discription_detail, delete_flag, insert_time, update_time
		from tb_expert_top e
		<where>
			city_code=#{cityCode,jdbcType=VARCHAR}
			<if test="expertName!=null and expertName!=''">
				e.expert_name like '%${expertName}%'
			</if>
			<if test="topType!=null and topType!=''">
				and e.top_title=#{topType,jdbcType=VARCHAR}
			</if>
			<if test="deleteFlag!=null and deleteFlag!=''">
				and delete_flag=#{deleteFlag,jdbcType=VARCHAR}
			</if>
		</where>
		order by e.insert_time desc limit #{beginResult},#{pageSize}
	</select>

	<!-- 查询所有数据数 -->
	<select id="getTotalCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from tb_expert_top
		<where>
			is_inn=0 and city_code=#{cityCode,jdbcType=VARCHAR}
			<if test="expertName!=null and expertName!=''">
				expert_name like '%${expertName}%'
			</if>
			<if test="topType!=null and topType!=''">
				and top_title=#{topType,jdbcType=VARCHAR}
			</if>
			<if test="deleteFlag!=null and deleteFlag!=''">
				and delete_flag=#{deleteFlag,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<!-- 通过用户id,达人id获取达人 -->
	<select id="getExcludeExpert" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1) from tb_expert_top
		where is_inn=0 user_id = #{userId,jdbcType=VARCHAR}
		<if test="expertId!=null and expertId!=''">
  			and id != #{expertId}
  		</if>
	</select>

	<select id="selectByPrimaryKey" resultType="com.gtercn.carhome.dealer.cms.entity.ExpertTop"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tb_expert_top
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<!-- 删除数据  修改状态 -->
	<update id="deleteByPrimaryKey" parameterType="java.lang.String">
		update tb_expert_top set delete_flag=1
		where id = #{id,jdbcType=VARCHAR}
    </update>
  
	<insert id="insert" parameterType="com.gtercn.carhome.dealer.cms.entity.write.WriteExpertTop">
		insert into tb_expert_top (id,
		user_id, top_title,city_code,
		expert_name, expert_discription_short,
		expert_portrait_url,
		expert_wechat_number, expert_experience,
		expert_tel_number,
		motto, expert_display_pic_list,
		expert_discription_detail,
		delete_flag, insert_time, update_time
		)
		values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
		#{topTitle,jdbcType=VARCHAR},
		#{cityCode,jdbcType=VARCHAR},
		#{expertName,jdbcType=VARCHAR},
		#{expertDiscriptionShort,jdbcType=VARCHAR},
		#{expertPortraitUrl,jdbcType=VARCHAR},
		#{expertWechatNumber,jdbcType=VARCHAR},
		#{expertExperience,jdbcType=VARCHAR},
		#{expertTelNumber,jdbcType=VARCHAR},
		#{motto,jdbcType=VARCHAR},
		#{expertDisplayPicList,jdbcType=VARCHAR},
		#{expertDiscriptionDetail,jdbcType=VARCHAR},
		#{deleteFlag,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}
		)
  </insert>

	<update id="updateByPrimaryKey" parameterType="com.gtercn.carhome.dealer.cms.entity.write.WriteExpertTop">
		update tb_expert_top
			set 
			top_title = #{topTitle,jdbcType=VARCHAR},
			expert_discription_short = #{expertDiscriptionShort,jdbcType=VARCHAR},
			expert_portrait_url = #{expertPortraitUrl,jdbcType=VARCHAR},
			expert_wechat_number = #{expertWechatNumber,jdbcType=VARCHAR},
			expert_experience = #{expertExperience,jdbcType=VARCHAR},
			motto = #{motto,jdbcType=VARCHAR},
			expert_display_pic_list = #{expertDisplayPicList,jdbcType=VARCHAR},
			expert_discription_detail = #{expertDiscriptionDetail,jdbcType=VARCHAR},
			delete_flag = #{deleteFlag,jdbcType=VARCHAR},
			update_time =now()
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>