<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gtercn.carhome.dealer.cms.dao.ExpertTypeMapper">
	<sql id="Base_Column_List">
		id, type_value, description, delete_flag, update_time, insert_time
   </sql>
   
   <!-- 查询所有类别 -->
   <select id="queryAllData" resultType="com.gtercn.carhome.dealer.cms.entity.ExpertType">
		select <include refid="Base_Column_List" />
		from tb_expert_type
		where delete_flag = 0
	</select>
	
	<select id="selectByPrimaryKey" resultType="com.gtercn.carhome.dealer.cms.entity.ExpertType" parameterType="java.lang.String">
		select <include refid="Base_Column_List" />
		from tb_expert_type
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tb_expert_type
		where id = #{id,jdbcType=VARCHAR}
  </delete>
	<insert id="insert" parameterType="com.gtercn.carhome.dealer.cms.entity.ExpertType">
		insert into tb_expert_type (id, type_value, description,
		delete_flag, update_time, insert_time
		)
		values (#{id,jdbcType=VARCHAR}, #{typeValue,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{deleteFlag,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{insertTime,jdbcType=TIMESTAMP}
		)
  </insert>
	
</mapper>