<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gtercn.carhome.dealer.cms.dao.HomeCarouselMapper">
	<sql id="Base_Column_List">
		id, title, city_code, picture_url,
		content, res_url_list,
		html_url, delete_flag,
		insert_time, update_time
  </sql>
	<!-- 查询所有 -->
	<select id="queryAllData" resultType="com.gtercn.carhome.dealer.cms.entity.HomeCarousel" parameterType="java.util.Map">
		select id, title, content, city_code
		res_url_list,html_url, delete_flag,insert_time, update_time
		from tb_home_carousel q
		<where>
		    q.city_code = #{cityCode}
			<if test="title!=null and title!=''">
				and q.title like '%${title}%'
			</if>
			<if test="beginTime!=null and beginTime!=''">
				and DATE_FORMAT(insert_time,'%Y-%m-%d')&gt;=#{beginTime}
			</if>
			<if test="endTime!=null and endTime!=''">
				and DATE_FORMAT(insert_time,'%Y-%m-%d')&lt;=#{endTime}
			</if>
			<if test="deleteFlag !=null and deleteFlag !=''">
				and delete_flag = #{deleteFlag}
			</if>
		</where>
		order by q.insert_time desc limit #{beginResult},#{pageSize}
	</select>
	
	<!-- 查询所有数据数 -->
	<select id="getTotalCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(1) from tb_home_carousel q
		<where>
			q.city_code = #{cityCode}
			<if test="title!=null and title!=''">
				and q.title like '%${title}%'
			</if>
			<if test="beginTime!=null and beginTime!=''">
				and DATE_FORMAT(insert_time,'%Y-%m-%d')&gt;=#{beginTime}
			</if>
			<if test="endTime!=null and endTime!=''">
				and DATE_FORMAT(insert_time,'%Y-%m-%d')&lt;=#{endTime}
			</if>
			<if test="deleteFlag !=null and deleteFlag !=''">
				and delete_flag = #{deleteFlag}
			</if>
		</where>
	</select>

   <!-- 插入数据 -->
	<insert id="insert" parameterType="com.gtercn.carhome.dealer.cms.entity.HomeCarousel">
		insert into tb_home_carousel 
			(id, title, content, city_code, res_url_list, picture_url,
			html_url,delete_flag, insert_time,update_time)
		values 
			(#{id,jdbcType=VARCHAR},
			#{title,jdbcType=VARCHAR},
			#{content,jdbcType=VARCHAR},
			#{cityCode,jdbcType=VARCHAR},
			#{resUrlList,jdbcType=VARCHAR},
			#{pictureUrl,jdbcType=VARCHAR},
			#{htmlUrl,jdbcType=VARCHAR}, 0,
			now(),now())
	</insert>
	<!-- 修改 -->
	<update id="updateByPrimaryKey" parameterType="com.gtercn.carhome.dealer.cms.entity.HomeCarousel">
		update tb_home_carousel
		set 
			title = #{title,jdbcType=VARCHAR},
			content = #{content,jdbcType=VARCHAR},
			html_url = #{htmlUrl,jdbcType=VARCHAR},
			picture_url = #{pictureUrl,jdbcType=VARCHAR},
			delete_flag = #{deleteFlag,jdbcType=INTEGER},
			update_time = now()
		where 
			id = #{id,jdbcType=VARCHAR} 
	</update>
	
	<select id="selectByPrimaryKey" resultType="com.gtercn.carhome.dealer.cms.entity.HomeCarousel"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tb_home_carousel
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<update id="deleteByPrimaryKey" parameterType="java.lang.String">
		update tb_home_carousel
		set delete_flag=1
		where id = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>